{% extends "base.html" %}
{% block title %}About Hackbrighter{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row p-5 navbar navbar-light">
            <div class="col-8 offset-2 page-heading">About Hackbrighter & The Hackbright Team</div>
            <div class="col-1"> 
                <ul class="navbar-nav ms-auto text-center">
                    <li>
                        <!-- <form method="get" action="/create_opportunity">
                        <button class="nbtn btn-warning btn-lg float-end" >+</button>
                        </form> -->
                    </li>
                </ul>
            </div>
        </div>
    
    <div class= "about col-8 offset-2">
        <h2>About the Creator</h2><br>

        Hobbes is a software engineer transplanted to San Francisco, CA from the Midwest. Topeka, Kansas and Kansas City, Missouri
        are two places Hobbes still calls "Home". Before starting to code at age 30, Hobbes worked as a community organizer for expanding rights,
        access, protection, and policy for working class families. Programming is an extension of this deeply relational work to Hobbes, and they 
        are excited to use their full-stack programming skillset to continue building power within marginalized communities. Hobbes joined forces
        with Hackbright Academy as a student in 2021 amidst the COVID-19 pandemic, starting with the Python Prep Course before moving on 
        to the Full-Time Remote Software Engineering Program, the sixth program to experience Hackbright Academy fully remotely.<br>
        Hackbrighter became a project within the first weeks of the remote program, as a way for learners to organize study spaces
        without the luxury of having a physical hub. It became Hobbes' capstone project for the program, and was deployed in July 2021 as a 
        space for strengthening the social network of gender diverse students in technology across the world.<br><br>
        
        <center>
        <div class="row">
            <div class="col-4 offset-2">
                Share Feedback:<br>
                <a href = "mailto: hobbes.entrikin@gmail.com?subject = Feedback&body = Hackbrighter Email!">Send Email</a><br><br>
            </div>
            <div class="col-4">
                Hire me:<br>
                <a href="https://www.linkedin.com/in/hobbes-entrikin-1b2978200/">Linked In</a><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-2">
                <br>Donate to fund Hackbrighter's maintenence and expansion:<br><br>
            </div>        
            <div class="col-4" style="
            overflow: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 258.96px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
            border-radius: 10px;
            font-family: Roboto, SQ Market, Helvetica, Arial, sans-serif;
            ">
            <div style="padding: 20px;">
            <p style="
                font-size: 18px;
                line-height: 20px;
            ">Donate to Hackbrighter</p>
            <a target="_blank" href="https://checkout.square.site/merchant/ML2174KZVVGS8/checkout/WS6R76GOW3QUG4TJ4HQ6NQH7?src=embed" style="
                display: inline-block;
                font-size: 18px;
                line-height: 48px;
                height: 48px;
                color: #ffffff;
                min-width: 212px;
                background-color: #ffbf00;
                text-align: center;
                box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                border-radius: 6px;
            ">Donate</a>
            </div>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        </div>
        </center>

        </div>
    </div>
    <br>
    <br>
    <div class= "about col-8 offset-2">
        <h2>About… You?!</h2><br>

        Learning doesn't just happen in lectures. You are invited to be a direct contributor to Hackbrighter
        itself! Have you created code you’d like to integrate with Hackbrighter for a richer user experience?
        Would you LIKE to create code to integrate with Hackbrighter for a richer user experience?
        Contact admin and let’s make it happen! I would love to feature you and your contributions on this “About” page
        with your story of why programming is important to you!

        <a href = "mailto:hobbes.entrikin@gmail.com?subject = Feedback&body = Hackbrighter Collab Request!">
            Send Request
            </a>

    </div>
    <br>
    <br>
    <div class= "about col-8 offset-2">
        <h2>About Hackbrighter's Development</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xYatk9mVvBo" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class="about col-8 offset-2">
        <h2>About Hackbright Academy</h2><br>

        Hackbright Academy is a coding bootcamp celebrated for empowering gender diverse programmers to change the gender ratio in technology. 
        Hackbright offers a five week python course for those interested in getting their feet wet in programming, 
        along with an intensive full-stack software engineering bootcamp that provides students with web development skillsets 
        to create web apps like this one... and then some!<br><br>

        Click <a href="www.http://hackbrightacademy.com/">here</a> to visit Hackbright Academy’s webpage for more information.
    </div>
    <br>
    <br>

    {% endblock %}
Tutorial page link
Creation/Creator
Hackbright credit for curriculum-- ad
About the code // github link
Contact me: mentorship, friendship, all the ships!


