{% extends "base.html" %}
{% block title %}About Hackbrighter{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row p-5 navbar navbar-light">
            <div class="col-8 offset-2 page-heading">About Hackbrighter & The Hackbright Team</div>
            <div class="col-1"> 
                <ul class="navbar-nav ms-auto text-center">
                    <li>
                        <!-- <form method="get" action="/create_opportunity">
                        <button class="nbtn btn-warning btn-lg float-end" >+</button>
                        </form> -->
                    </li>
                </ul>
            </div>
        </div>
    
    <div class= "about col-8 offset-2">
        <h2>About the Creator</h2><br>

        Hobbes is a full-stack software engineer transplanted to San Francisco, CA from Topeka, Kansas. 
        They are a graduate of Hackbright Academy’s third fulltime Software Engineering and Web Development program 
        with a career background in community organizing. <br><br>
        
        When Hackbright shifted to remote programming during the Covid-19 pandemic Hobbes 
        designed Hackbrighter to create space for strengthening the social network of gender diverse students in technology across the world.<br>
        

        Email me:<br>
        <a href="mxhobbes@gmail.com">mxhobbes@gmail.com</a><br><br>
        
        Hire me:<br>
        <a href="https://www.linkedin.com/in/hobbes-entrikin-1b2978200/">Linked In</a><br>
    </div>
    <br>
    <br>
    <div class= "about col-8 offset-2">
        <h2>About… You?!</h2><br>

        Have you created code you’d like to integrate with Hackbrighter for a richer user experience?
        Would you LIKE to create code to integrate with Hackbrighter for a richer user experience?
        Contact me and let’s make it happen! I would love to feature you and your contributions on this “About” page!
    </div>
    <br>
    <br>
    <div class= "about col-8 offset-2">
        <h2>About Hackbrighter's Development</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xYatk9mVvBo" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class="about col-8 offset-2">
        <h2>About Hackbright Academy</h2><br>

        Hackbright Academy is a coding bootcamp celebrated for empowering gender diverse programmers to change the gender ratio in technology. 
        Hackbright offers a five week python course for those interested in getting their feet wet in programming, 
        along with an intensive full-stack software engineering bootcamp that provides students with web development skillsets 
        to create web apps like this one... and then some!<br><br>

        Click <a href="www.http://hackbrightacademy.com/">here</a> to visit Hackbright Academy’s webpage for more information.
    </div>
    <br>
    <br>

    {% endblock %}
Tutorial page link
Creation/Creator
Hackbright credit for curriculum-- ad
About the code // github link
Contact me: mentorship, friendship, all the ships!


