<!DOCTYPE html>

<html>
<head>
</head>
<body>    
    <p id= "base_logo" class="logo"><h1>Hackbrighter</h1></p><br>
    <p id= "base_slogan" class="slogan"><h3>Keep coding in community.</h3></p></p><br>

    <p id= "login_status" class="login">Logged in as {{username}}</p>
    <form action = "/logout" method="POST"><button class="log_out" id="log_out">Logout button</button></form>
    
<section>Horizontal Navigation bar?</section>

<section>Side Navigation bar</section>
<a href="/student/&lt;username&gt;">My personal Info</a><br>
<a href="/hackbrighter_map"> Hackbrighter Map</a> <br>
<a href="/about_app">About the App</a>
<a href="/study spots"></a>
<a href="/projects">Projects</a> <br>
<br>
<a href="/join_session"> Join Session</a><br>
<a href="/see_details">(icon_url) See user's details</a><br>
<a href="/student/&lt;username&gt;">User's info</a> 
<!-- ^How do I differentiate between links to different users' profiles? -->
</body>
</html>