<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackbrighter Help</title>
  </head>
  <body>
    <p>Cohorts are student groups who learn together through <a href='http://hackbrightacademy.com/'>Hackbright Academy</a><br>
    You can find out what the name of your cohort is on Frodo by looking at the name of your <a href="https://fellowship.hackbrightacademy.com/lectures/career-intro/">lecture handouts</a></p>
    <p><a href="/register">Back to Account Registration!</a></p><br>
  </body>
</html>