<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackbrighter Help</title>
  </head>
  <body>
    <p>Cohorts are student groups who learn together through <a href='http://hackbrightacademy.com/'>Hackbright Academy</a>.
    If you came to Hackbrighter through Hackbright Academy you can find out what the name of your cohort is on Frodo 
    by looking at the name of your <a href="https://fellowship.hackbrightacademy.com/lectures/career-intro/">lecture handouts</a></p>
    <p>If you are here to Hack Brighter from outside the Hackbright Academy starting point, welcome! You are in the right place! 
      The cohorts section is just for fun, and primarily exists as an opportunity for admin to practice color coding down the line. 
      Programming education starts with YOU and the initiative you take to get started. Please celebrate yourself
      as a "Free Agent" from the drop down menu on the Registration page, and enjoy learning through this community! Contact 
      Hobbes if you would like resources!
    </p>
    <p>If you started programming "Beyond!" the years listed in the drop down menu, welcome! One of the great things about this
      web application is that it creates space for new programmers to practice mentoring, leadership, and talking about code by mentoring
      even newer programmers right out of the gate. Your years of experience and status as a learner are valued in this space too! 
      Please consider volunteering your time to hosting mock interviews, whiteboarding sessions, give walk-throughs of your own code with Q&A, 
      host info-sessions on your workplace, and to practice your own development through leading group projects. If you have an idea
      on how to improve Hackbrighter please <a href="/about"></a> reach out directly to admin</a> to get connected with a team of voracious learners. 
      All code supporting Hackbrighter is written by badass programmers in their first years of practice.
    </p>
    <p><a href="/register">Back to Account Registration!</a></p><br>
  </body>
</html>