{% extends "base.html" %}
{% block content %}
  <head>
    {% block head %}
    {{ super() }}
    {% endblock %}
    <style>
        #map {
            height: 400px;
            width: 1000px;
            background-color: grey;
          }  
          html,
          body {
            height: 100%;
            margin: 10px;
            padding: 0;
          }
    </style>
  </head>
<body>
       
          <div class="container">
            <div class="row p-5 navbar navbar-light">
                <div class="col-12 page-heading">Study Live Map</div>
                <div class="col-1"> 
                    <ul class="navbar-nav ms-auto text-center">
                        <li>
                            <!-- <form method="get" action="/create_opportunity">
                            <button class="nbtn btn-warning btn-lg float-end" >+</button>
                            </form> -->
                        </li>
                    </ul>
                </div>
            </div>
          
  <div class="map-section">          
          <div class="container">
            <!-- <div class="row">
              <div class="col-8">
                <nav class="navbar navbar-light bg-light">
                    <form>
                      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </nav>
                </div>  
                </div> -->
              <div class="row" id="map">
                <script>
                  let pos;
                  let map;
                  function initMap() {
                    pos= {lat: 37.601773, lng: -122.202870};
                    map= new google.maps.Map (document.getElementById('map'), {
                      center: pos,
                      zoom: 9
                    });
                  }
                  
                </script>
                </div>
            </div>
          </div>
  </div>   

    
    <script 
        async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa-gF8p3QpuV1Yh0GnqjWUDDyZ43ixQpE&callback=initMap">
    </script>
</body>
{% endblock %}
