<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
        Hackbrighter Map
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        #map {
            height: 100%;
            width: 100%;
            background-color: grey;
          }  
          html,
          body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>
  </head>

<body>
    <div id="map"></div>

    <script>
      function initMap() {
      const sfBayCoords = {
        lat:37.601773,
        lng:-122.202870
      };
      console.log(document.querySelector('#map'))
      const basicMap = new google.maps.Map(
        document.querySelector('#map'),

        {
          center: sfBayCoords,
          zoom: 11
        }
      );
      }
    </script>

    <script 
        async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa-gF8p3QpuV1Yh0GnqjWUDDyZ43ixQpE&callback=initMap">
    </script>
</body>
</html>
