{% extends "base.html" %}
{% block content %}
  <head>
    {% block head %}
    {{ super() }}
    {% endblock %}
    <style>
        #map {
            height: 400px;
            width: 400px;
            background-color: grey;
          }  
          html,
          body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>
  </head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <nav class="navbar navbar-light bg-light">
            <form>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        </div>  
      <div class="col-3" id="map">
        <script>
          function initMap() {
          const sfBayCoords = {
            lat:37.601773,
            lng:-122.202870
          };
          console.log(document.querySelector('#map'))
          
          const basicMap = new google.maps.Map(
            document.querySelector('#map'),
    
            {
              center: sfBayCoords,
              zoom: 9,
            }
          );
          }
          
        </script>
        </div>
    </div>
  </div>
    

    
    <script 
        async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa-gF8p3QpuV1Yh0GnqjWUDDyZ43ixQpE&callback=initMap">
    </script>
</body>
{% endblock %}
