{% extends "base.html" %}
{% block title %}Hackbrighter Sign Up{% endblock %}

{% block content %}

<title>Hackbrighter Login</title>
  </head>
  <div class="form offset-4">
  <h2>Log in to Hackbrighter</h2>
      <ul id="form-messages">
        <li>Error</li>
      </ul>
      <form action="/login" method="POST">
          <label>username: </label><input type="text" id= "username" name="username" alt="Please input your username."><br>
          <label>password: </label><input type="password" id= "password" name="password" alt="Please input your password."><br>
          <button type="submit" id="btn-submit" alt="Click to log in.">Login</button>
      </form><br>
      <p>or</p>
      <p><a href="/register">Create a New Account</a></p><br>
  </div>



  {% endblock %}
