<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackbrighter Login</title>
  </head>
  <body>
    <h2>Log in to Hackbrighter</h2>
    <form action="/login" method="POST"></form>
        <div id= "username"><label>username: </label><input type="text" name="username" alt="Please input your username."></div>
        <div id= "password"><label>password: </label><input type="password" name="password" alt="Please input your password."></div>
        <div id= "submit_button"><input type="Submit" alt="Click to log in."></div>
    </form>
    <p>or</p>
    <p><a href="/register">Create a New Account</a></p>
  </body>
</html>