<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackbrighter Login</title>
  </head>
  <body>
    <p id= "login_logo" class="logo">Hackbrighter</p><br>
    <p id= "login_slogan" class="slogan"> Keep coding in community.</p></p><br>
    <form>
        <div id= "username_input"><label>username: </label><input type="text" name="username" alt="Please input your username."></div>
        <div id= "password_input"><label>password: </label><input type="password" name="password" alt="Please input your password."></div>
        <div id= "submit_button"><input type="Submit" alt="Click to log in.""></div>
    </form>

  </body>
</html>