<!doctype html>
<html>

<head>
    <title>
        Hackbrighter Map
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        #map {
            height: 50%
            background-color; grey;
        }  
    </style>
</head>

<body>
    <div id="map"></div>
    #TODO: Add a map

    <script>
        let pos;
        let map;
        function initMap() {
            pos = {lat: -33.857, lng: 151.3}
            map = new google.maps.Map(document.getElementById('map'), {
                center: pos,
                zoom: 15
            });
        }

    </script>

    </script>

    <script 
        async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa-gF8p3QpuV1Yh0GnqjWUDDyZ43ixQpE&callback=initMap">
    </script>
</body>

</html>

