{% extends "base.html" %}
{% block title %}Hackbrighter Profile{% endblock %}

{% block head %}
{% endblock %}


<!-- #Pop-up sticky should ask people to update their location and personal deets on this page.
#Location is vital to scheduling by time zone.
#if user has a valid location chosen, cancel pop-up sticky
#if user tries to create a new study session without a valid location in their profile,
#bring up a pop-up form that takes in their city or redirects their page to "/student/&lt;username&gt;" -->
{% block content %}
  <!-- Page Heading with Create Modal -->
  <div class="container">
    <div class="row p-5 navbar navbar-light">
        <div class="col-10 page-heading">Student Profile</div>
        <div class="col-1"> 
            <ul class="navbar-nav ms-auto">
                <li>
                    <!-- Trigger/Open The Modal -->
                    <!-- <form method="get" action="/create_opportunity"> -->
                    <button id="myBtn" class="nbtn btn-warning btn-lg float-end" >+</button>
                    <!-- </form> -->

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span align="right" class="close">&times;</span>
                        <span><h3>Create a New Study Opportunity</h3></span>
                        <p>
                            <div class="img src=/static/HBlogo.svg" alt="hackbright logo"></div>
                            <form action="/create_opportunity" method='POST'>
                              <div id="topic"><label>Topic:</label><input type="text" name="topic"></div>
                              <!-- <div id="date"><label>Date:</label><input type="date" name="proposed_date"></div> -->
                              <div id="proposed_time"><label>Time (PST):</label><input type="datetime-local" name="proposed_time"></div>
                              <div id="capacity"><label>Room Capacity:</label><input type="text" name=capacity></div>
                              <div id="prerequisites"><label>Prerequisites:</label><input type="text" name="prerequisites"></div>
                              <!-- <div id="invite"><label>Send invite to students: </label><input type="text" name="invite"></div>      -->
                              <div id="submit_opportunity"><input type="Submit" alt="submit form to create a new study session"></button></div></p>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<div class="row">

<div class="col-md-3 col-lg-4">
    <div class="profile-card">
    <img src= {{student_obj.icon_url}} class="">
        <div class="change-icon">
            <!-- <button onclick = "ToggleUpload()">Upload Icon</button> -->
            <div id="change-icon" style="display:none">
                <form>
                    <div class="form-group">
                    <label for="icon">Upload a Custom Icon</label>
                    <input type="file" class="form-control-file" id="icon">
                    </div>
                </form>
            </div>
            <script>
                function ToggleUpload() {
                    var x = document.getElementById("change-icon"),
                        displayValue=""
                    if (x.style.display = "")
                        displayValue = "none";

                    x.style.display = displayValue
                }
            </script>
        </div>
        <br>
        <br>
        <br>
        <div class="personal-info">
            <h2>About {{student_obj.username}}</h2>
            Name: {{student_obj.first_name}} {{student_obj.last_name}}<br><br>
            Cohort: {{student_obj.cohort_name}} {{student_obj.cohort_year}}<br><br>
            Location: {{personal_obj.location}}<br><br>
            Past Roles: {{personal_obj.past_roles}}<br><br>
            Goals: {{personal_obj.goals}}<br><br>

            Github: 
                {% if personal_obj.github %}
                <a href="{{personal_obj.github}}">{{ student_obj.username }}</a>
                {% endif %}
                <br><br>
            LinkedIn:
                {% if personal_obj.linkedin %}
                <a href="{{personal_obj.linkedin}}">{{ student_obj.first_name }} {{ student_obj.last_name }} on LinkedIn</a>
                {% endif %}
                <br><br>
            Spotify:
                {% if personal_obj.spotify %}
                <a href={{personal_obj.spotify}}>{{ student_obj.username }}</a>
                {% endif %}
                <br><br>
            Instagram: 
                {% if personal_obj.instagram %}
                <a href="{{personal_obj.instagram}}">{{ student_obj.username }}</a>
                {% endif %}
                <br>

                <input type="button" onclick="window.location.href='/user_preferences';" value="edit" />

        </div>
    </div>
</div>

<div class="col-md-9 col-lg-6">
    <div class="section-heading"> My Study Sessions: </div>
    {% if created_sessions %}
        {% for study_session in created_sessions %}
        {% if study_session in study_sessions_to_show %}
        <div class="study-session-tile">
            <div class="row study-session-attribute">
                <div class="col-3">
                    <div class="tile-heading">Topic: </div>
                    <a href="/study-session/{{study_session.study_session_id}}">{{ study_session.topic }}</a>
                </div>
                <div class="col-4">
                    <div class="tile-heading">Day and Time (PST): </div>
                    {{ study_session.proposed_time}}
                </div>
                {% if study_session.capacity %}
                <div class="col-3">
                    <div class="tile-heading">Capacity: </div>
                    {{ study_session.capacity }}
                </div>
                {% endif %}
            </div>
            <div class="row tile-heading">Attending: </div>
            <div class="row">
                <div class="col-2"><a class="username" href="/student"> {{ study_session.creator.username}}</a><br>
                    <a class="username" href="/student"><img src="{{ study_session.creator.icon_url }}" alt="user icon" style="width:42px;height:42px;"></a>
                </div>
                {% for attendence in study_session.attendences %}
                <div class="col-2">
                    <a class="username" href="/student/{{ attendence.student.username}}">{{attendence.student.username}}</a><br>
                    <a href="/student/{{ attendence.student.icon_url }}"> <img src="{{ attendence.student.icon_url}}" alt="user icon" style="width:42px;height:42px;"></a>   
                </div>
                {% endfor %}
                <div class="col">
                    <form action="/join_session/{{study_session.study_session_id}}">
                    <button class='float-end' type='submit' >JOIN</button>
                    </form>
                </div>
            </div>
        </div study session tile>
        {% endif %}
        {% endfor %}
    {% endif %}
    <br>

        <div class="section-heading">My Joined Sessions: </div>
    {% if participating_sessions %}
        {% for study_session in participating_sessions %}
        {% if study_session in study_sessions_to_show %}
        <div class="study-session-tile ">
            <div class="row study-session-attribute">
                <div class="col-3">
                    <div class="tile-heading">Topic: </div>
                    <a href="/study-session/{{study_session.study_session_id}}">{{ study_session.topic }}</a>
                </div>
                <div class="col-4">
                    <div class="tile-heading">Day and Time (PST): </div>
                    {{ study_session.proposed_time}}
                </div>
                {% if study_session.capacity %}
                <div class="col-3">
                    <div class="tile-heading">Capacity: </div>
                    {{ study_session.capacity }}
                </div>
                {% endif %}
            </div>
            <div class="row tile-heading">Attending: </div>
            <div class="row">
                <div class="col-2">
                    <a class="username" href="/student/{{study_session.creator.username}}"> 
                    {{ study_session.creator.username}}</a><br>
                    <a href="/student/{{study_session.creator.username}}"><img src="{{ study_session.creator.icon_url }}" alt="user icon" style="width:42px;height:42px;"></a>
                </div>
                {% for attendence in study_session.attendences %}
                <div class="col-2">
                    <a class="username" href="/student/{{ attendence.student.username}}">
                    {{attendence.student.username}}</a><br>
                    <a href="/student/{{ attendence.student.username }}"> <img src="{{ attendence.student.icon_url }}" alt="user icon" style="width:42px;height:42px;"> </a><br>   
                </div>
        
               
                <div class="col">
                    <form action="/join_session/{{study_session.study_session_id}}">
                    <button class='float-end' type='submit' >JOIN</button>
                    </form>
                </div>
            </div>
        </div study session tile>
        {% endfor %}
        {% endif %} 
        {% endfor %}
    {% endif %}




</div>
</div>
<div class="col">
    <br>
    <div class="section-heading">Past Sessions: </div>
    {% for study_session in completed_sessions %}
    <div class="past-study-session-tile tile-heading">
        <a href="/study-session/{{study_session.study_session_id}}">Topic: {{ study_session.topic }} | </a><a href="/study-session/{{study_session.study_session_id}}">Lead by: {{ study_session.creator.username }} | </a>
        <a href="/study-session/{{study_session.study_session_id}}">Date: {{ study_session.proposed_time }} | </a>
    </div>
    {% endfor %}
    
</div>
{% endblock %}
(check) Auto-generated cute animal picture for icon-- import choice<br>
Input to let people upload their own picture. POST How can I round frame it?<br>
<br>
Cohort POST drop down menu-- ability to change it for deferred students<br>
Location field POST-- City? Neighborhood? Offset address? IF NOTHING ELSE-- add "time zone" to front page<br>
Goals text area POST <br>
LinkedIn field POST (interactive url)<br>
Github field POST(interactive url)<br>







