{% extends "base.html" %}
{% block title %}Hackbrighter Sign Up{% endblock %}

{% block content %}
<div container>
    <p id= "reg_intro" class="intro"><h2>Create a Hackbrighter Account</h2></p><br>
    <form action="/register" method="POST" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6">
        <div class="col-md-6">
            <label for="validationCustom01">First name</label>
            <input type="text" name="first_name" class="form-control" id="validationCustom01" placeholder="First name" required>
            <div class="valid-feedback">
                Nice!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom02">Last name</label>
            <input type="text" name="last_name" class="form-control" id="validationCustom02" placeholder="Last name" required>
                <div class="valid-feedback">
                    Nice!
                </div>
            </div>
        <div class="form-row">
            <div class="form-group">
            <label for="validationCustom03">Email</label>
            <input type="text" name= "email" class="form-control" id="validationCustom02" placeholder="Email" required>
                <div class="valid-feedback">
                    Nice!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
            <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                    <input type="text" name="username" class="form-control" id="validationCustomUsername" placeholder="balloonicorn" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a unique username.
                    </div>
                </div>
                </div>
            <div class=col-md-6">
            <label for="validationCustomPassword">Password</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="validationCustomUsername" placeholder="" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a strong password.
                    </div>
                </div>    
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="validationCustom04">City</label>
            <input type="text" name="city" class="form-control" id="validationCustom03" placeholder="City" required>
            <div class="invalid-feedback">
                Please provide a valid city. 
            </div>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationCustom05">State</label>
            <input type="text" name="state" class="form-control" id="validationCustom04" placeholder="State" required>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationCustom06">Zip</label>
            <input type="text" name="zipcode" class="form-control" id="validationCustom05" placeholder="Zip" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
            </div>    

        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
          <div class="col-md-6">
          <label for="validationCustom07">Cohort Name</label>
          <select name="cohort_name">
              <option value="Ada">Ada</option>
              <option value="Grace">Grace</option>
          </select>
          </div>
          <div class="col-md-3 mb-3">

          <div class="col-md-6">
          <label for="validationCustom08">Cohort Year</label>
          <select name="cohort_year">
              <option value="2019">2022</option>
              <option value="Beyond">Beyond!</option>
          </select>
          <h5><a href="/define-cohort">What's this?</a></h5>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </div>
    </form>
</div>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
        });
    }, false);
    })();
    </script>


{% endblock %}