{% extends "base.html" %}
{% block title %}Hackbrighter Sign Up{% endblock %}

{% block content %}
<br>
<div class= "col-5 offset-3 outline">
    <center><p id= "reg_intro" class="intro"><h2>Create a Hackbrighter Account</h2></p></center><br>
    <form action="/register" method="POST" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col">
                <label for="validationCustom01">First name</label>
                <input type="text" name="first_name" class="form-control" id="validationCustom01" placeholder="First name" required>
            </div>
            <div class="col=">
                <label for="validationCustom02">Last name</label>
                <input type="text" name="last_name" class="form-control" id="validationCustom02" placeholder="Last name" required>
            </div>
            <div class="form-row">
                <div class="">
                    <label for="validationCustom03">Email</label>
                    <input type="text" name= "email" class="form-control" id="validationCustom02" placeholder="Email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <label for="validationCustomUsername">Username</label>
                    <input type="text" name="username" class="form-control" id="validationCustomUsername" placeholder="Pick a good one! It'll be displayed across the website." aria-describedby="inputGroupPrepend" required>
                </div>
            </div>
            <div class="">
                <label for="validationCustomPassword">Password</label>
                <input type="password" name="password" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            </div>      
        </div>

        <center>
        <div class="form-row">
            <div class="col-12">
            <label for="validationCustom07">Cohort Name</label>
            <select name="cohort_name">
                <option value="Ada">Ada</option>
                <option value="Katherine">Katherine</option>
                <option value="Margaret">Margaret</option>
                <option value="Grace">Grace</option>
                <option value="Free Agent">Free Agent</option>
            </select>
                <label for="validationCustom08">Year:</label>
                <select name="cohort_year">
                    <!-- <option value="2022">2022</option> -->
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2020">2019</option>
                    <option value="2020">2018</option>
                    <option value="Beyond">Beyond!</option>
                </select>
                <img src="/static/question mark.png" width="14"> <a href="/define-cohort">What's this?</a>
            </div>
        </div>

        <br><button class="btn btn-primary" type="submit">Create Account</button><br>
    </center>
    </div>
    </form>
</div>
<br>
<br>

    






{% endblock %}

