{% extends "base.html" %}
{% block title %}Hackbrighter Sign Up{% endblock %}

{% block content %}
<br>
<div class= "col-5 offset-3 outline">
    <center><p id= "reg_intro" class="intro"><h2>Create a Hackbrighter Account</h2></p></center><br>
    <form action="/register" method="POST">
        <div class="form-row">
            <div class="input-container">
                <label>First name</label>
                <input type="text" name="first_name" class="input"  placeholder="First name" required>
            </div>
            <div class="input-container">
                <label>Last name</label>
                <input type="text" name="last_name" class="input" placeholder="Last name" required>
            </div>
            <div class="input-container" data-error="Sorry, that email is already in use. Try logging in!">
                <div class="">
                    <label>Email</label>
                    <input type="text" class="input" placeholder="Email" required>
                </div>
            </div>
            <div class="input-container">
                <div class="input-container" data-error="Sorry, that username is taken.">
                    <label>Username</label>
                    <input type="text" class="input" placeholder="Pick a good one! It'll be displayed across the website." aria-describedby="Username" required>
                </div>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" class="input" aria-describedby="Confirm Password" required>
            </div>      
            <div class="input-container" data-error="Password confirmation failed. Please check spelling.">
                <label for="passwordvalidation">Confirm Password</label>
                <input type="password" class="input" aria-describedby="Confirm Password" required>
            </div>  
        </div>

        <center>
        <div class="form-row">
            <div class="col-12">
            <label for="validationCustom07">Cohort Name</label>
            <select name="cohort_name">
                <option value="Ada">Ada</option>
                <option value="Katherine">Katherine</option>
                <option value="Margaret">Margaret</option>
                <option value="Grace">Grace</option>
                <option value="Free Agent">Free Agent</option>
            </select>
                <label for="validationCustom08">Year:</label>
                <select name="cohort_year">
                    <!-- <option value="2022">2022</option> -->
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2020">2019</option>
                    <option value="2020">2018</option>
                    <option value="Beyond">Beyond!</option>
                </select>
                <img src="/static/question mark.png" width="14"> <a href="/define-cohort">What's this?</a>
            </div>
        </div>

        <br><button class="btn btn-primary" type="submit">Create Account</button><br>
    </center>
    </div>
    </form>
</div>
<br>
<br>

<script>
    document.querySelectorAll('.input-container[data-error] .input').forEach(inpEl => {
        inpEl.addEventListener('input', () => inpEl.parentElement.removeAttribute('data-error'));
    });

</script>






{% endblock %}

