{% extends "base.html" %}
{% block title %}Hackbrighter Profile{% endblock %}

<div class="container">
    <div class="row p-5 navbar navbar-light">
        <div class="col-6 page-heading">Study Opportunities</div>
        <div class="col-1"> 
            <ul class="navbar-nav ms-auto text-center">
                <li>
                    <form method="get" action="/create_opportunity">
                    <button class="nbtn btn-warning btn-lg float-end" >+</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    Stuff?