{% extends "base.html" %}
{% block title %}Hackbrighter Profile{% endblock %}


{% block content %}
<div class="container">
    <div class="row p-5 navbar navbar-light">
        <div class="col-6 page-heading">Study Opportunities</div>
        <div class="col-1"> 
            <ul class="navbar-nav ms-auto text-center">
                <li>
                    <form method="get" action="/create_opportunity">
                    <button class="nbtn btn-warning btn-lg float-end" >+</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
    ctz=America%2FLos_Angeles&amp;src=bXhob2JiZXNAZ21haWwuY29t&amp;
    src=M3ZoMmZuNzMyamQ3ODcybm10ZjRxOGw1dWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=cDFrczZ2YTVvMmtsZWhucmZpYWl1NWt1NHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=YjZzNmdrdWsxYmc1ZmVnZWh0c3VmNW0wYWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=ZWI0OTVmOWxoZXR0bzd0dGNoYWNibWxycDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;
    src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%23616161&amp;color=%23D50000&amp;color=%23009688&amp;color=%233F51B5&amp;color=%2333B679&amp;color=%230B8043" 
    style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

   {% endblock %}