{% extends "base.html" %}
{% block title %}Hackbrighter Profile{% endblock %}


{% block content %}
<div class="container">
    <div class="row p-5 navbar navbar-light">
        <div class="col-6 page-heading">Study Opportunities</div>
        <div class="col-1"> 
            <ul class="navbar-nav ms-auto text-center">
                <li>
                    <form method="get" action="/create_opportunity">
                    <button class="nbtn btn-warning btn-lg float-end" >+</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <iframe src="https://calendar.google.com/calendar/embed?src=3vh2fn732jd7872nmtf4q8l5uc%40group.calendar.google.com&ctz=America%2FLos_Angeles" 
    style="border: 0" width="1200" height="1000" frameborder="0" scrolling="no"></iframe>

   {% endblock %}